/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
/* Outer container */
.outer_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 1);
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 30% auto, 30% auto;
  overflow: hidden;
}

/* Main container */
.container {
  width: 80%;
  max-width: 75rem; /* 1200px converted to rem */
  height: 80%;
  background-color: rgba(247, 247, 255, 1);
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-size: 30vw auto, 30vw cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Pricing */
.header_pricing {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
}

/* Checkbox section */
.top_checkbox {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-top: 1.25rem;
}

.toggle {
  width: 3.125rem;
  height: 1.875rem;
  border-radius: 50px;
  background-color: rgb(37, 37, 248);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle::before {
  position: absolute;
  content: "";
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: #ffffff;
  top: 0.125rem;
  left: 0.1875rem;
  transition: 0.2s;
}

.input_checkbox:checked + .toggle::before {
  transform: translateX(1.25rem);
}

.input_checkbox {
  display: none;
}

.toggle_names,
.toggle_names1 {
  font-size: 0.9375rem;
  color: rgb(151, 151, 151);
  font-weight: 700;
}

.toggle_names1 {
  margin-left: 0.625rem;
}

/* Main content section */
.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

/* Content cards */
.Professional_content,
.basic_content,
.Master_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  width: 30%;
  height: 90%;
  background-color: hsl(237, 63%, 64%);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.125rem hsl(240, 78%, 98%);
  transition: transform 0.3s;
}

.Professional_content:hover,
.basic_content:hover,
.Master_content:hover {
  transform: scale(1.1);
}

/* Basic and Master content card styles */
.basic_content,
.Master_content {
  width: 25%;
  height: 80%;
  background-color: #ffffff;
}

/* Labels */
.Professional_label,
.basic_label,
.Master_label {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Professional_label {
  color: white;
}

.basic_label,
.Master_label {
  color: rgb(66, 66, 66);
}

/* Price section */
.Professional_price,
.basic_price,
.Master_price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.professional_price_content1,
.basic_price_content1,
.Master_price_content1 {
  font-weight: 700;
}

.professional_price_content1 {
  font-size: 3.125rem;
  color: hsl(240, 78%, 98%);
}

.basic_price_content1,
.Master_price_content1 {
  font-size: 2.5rem;
  color: rgb(66, 66, 66);
}

.professional_price_content2,
.basic_price_content2,
.Master_price_content2 {
  font-weight: 700;
}

.professional_price_content2 {
  font-size: 6.25rem;
  color: hsl(240, 78%, 98%);
}

.basic_price_content2,
.Master_price_content2 {
  font-size: 5.625rem;
  color: rgb(66, 66, 66);
}

/* Inputs */
.Professional_input,
.basic_input,
.Master_input {
  padding: 0.9375rem;
  text-align: center;
  font-size: 0.9375rem;
  font-family: Montserrat;
  border: none;
  width: 70%;
  cursor: default;
  user-select: none;
  caret-color: transparent;
}

.Professional_input {
  background-color: hsl(237, 63%, 64%);
  border-top: 0.1px dotted hsl(240, 78%, 98%);
  border-bottom: 0.1px dotted hsl(240, 78%, 98%);
}

.basic_input,
.Master_input {
  background-color: #ffffff;
  border-top: 1px dotted hsl(240, 10%, 50%);
  border-bottom: 1px dotted hsl(240, 10%, 50%);
}

.Professional_input::placeholder,
.basic_input::placeholder,
.Master_input::placeholder {
  font-size: 0.9375rem;
  font-weight: 700;
}

.Professional_input::placeholder {
  color: hsl(240, 78%, 98%);
}

.basic_input::placeholder,
.Master_input::placeholder {
  color: rgb(66, 66, 66);
}

/* Buttons */
.Professional_button,
.basic_button,
.Master_button {
  width: 80%;
  height: 9%;
  font-size: 0.9rem;
  font-family: Montserrat;
  font-weight: 700;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.Professional_button {
  color: hsl(237, 63%, 64%);
  background-color: hsl(240, 78%, 98%);
}

.basic_button,
.Master_button {
  color: hsl(240, 78%, 98%);
  background-color: hsl(237, 63%, 64%);
}

.Professional_button:hover,
.basic_button:hover,
.Master_button:hover {
  opacity: 0.7;
}

/* Bottom elements */
.bottom_elements {
  position: absolute;
  bottom: -6.25rem;
  left: 1.875rem;
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.element1,
.element2,
.element3,
.element4 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.element1 div,
.element2 div,
.element3 div,
.element4 div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #6bbad1;
  margin-left: 0.125rem;
  margin-bottom: 0.125rem;
}

/* Media query for mobile screens */
/* Media query for 344px screen width to 1024px*/
@media (min-width: 320px) and (max-width: 1024px) {
  html {
    overflow-y: scroll;
  }

  /* Outer container */
  .outer_container {
    background-size: 40% auto, 40% auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* Main container */
  .container {
    width: 95%;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    background-size: 50% auto, 50% auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* Price section */
  .Professional_content,
  .basic_content,
  .Master_content {
    width: 90%;
    height: auto;
    margin-top: 0.5rem;
    padding: 1rem;
    overflow: hidden;
  }
  .professional_price_content1,
  .basic_price_content1,
  .Master_price_content1 {
    font-size: 1.5rem;
  }
  .professional_price_content2,
  .basic_price_content2,
  .Master_price_content2 {
    font-size: 3rem;
  }
  /* Button */
  .Professional_button,
  .basic_button,
  .Master_button {
    width: 85%;
    margin: 1rem auto;
    padding: 0.75rem 1rem;
  }

  /*Inputs */
  .Professional_input,
  .basic_input,
  .Master_input {
    padding: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .Professional_input::placeholder,
  .basic_input::placeholder,
  .Master_input::placeholder {
    font-size: 0.75rem;
  }

  /* header pricing */
  .header_pricing {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .main_content {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 1rem;
  }

  .Professional_content,
  .basic_content,
  .Master_content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .bottom_elements {
    display: none;
  }
}

/* For diffrent device setting differnt width and height */
@media (min-width: 320px) and (max-width: 800px) {
  .outer_container {
    width: 100%;
    height: 100%;
  }
}

/* For screens between 801px and 1024px */
@media (min-width: 801px) and (max-width: 1024px) {
  .outer_container {
    width: 100vw;
    height: 100vh;
  }
}
